<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">

      <h3 class="text-theme-primary">Add New Post</h3>
      <p class="mb-5"> You can add your new post here</p>
    </div>
  </div>

  <form [formGroup]='postForm' (ngSubmit) = 'onSubmit()'>

    <div class="row">
      <div class="col-md-7">
        <div class="card shadow-eff">
          <div class="card-body">
            <div class="form-group">
              <label for> Title </label>
              <input type="text" class="form-control" (keyup)="onTitleChanged($event)" formControlName="title"
                [ngClass]="{'is-invalid': fc['title'].touched && fc['title'].invalid}">
              <div *ngif='fc.title.errors?.required'>
                <div class="alert alert-danger" *ngif='fc.title.touched && fc.title.invalid'>
                  Title is required</div>
              </div>
              <div *ngif='fc.title.errors?.minlength'>
                <div class="alert alert-danger" *ngif='fc.title.touched && fc.title.invalid'>
                  Title must be atleast 10 charectors long</div>
              </div>
            </div>

            <div class="form-group">
              <label for> Permalink </label>
              <input type="text" class="form-control" [(ngModel)]="permalink" name="permalink"
                formControlName="permalink"
                [ngClass]="{'is-invalid': fc['permalink'].touched && fc['permalink'].invalid}">

              <div *ngif='fc.permalink.errors?.required'>
                <div class="alert alert-danger" *ngif='fc.permalink.touched && fc.permalink.invalid'>
                  Permalink is required</div>
              </div>

            </div>
            <div class="form-group">
              <label for> Excerpt </label>
              <textarea cols="30" rows="10" type="text" class="form-control" formControlName="excerpt"
                [ngClass]="{'is-invalid': fc['excerpt'].touched && fc['excerpt'].invalid}"></textarea>

              <div *ngif='fc.excerpt.errors?.required'>
                <div class="alert alert-danger" *ngif='fc.excerpt.touched && fc.excerpt.invalid'>
                  Excerpt is required</div>
              </div>

              <div *ngif='fc.excerpt.errors?.minlength'>
                <div class="alert alert-danger" *ngif='fc.excerpt.touched && fc.excerpt.invalid'>
                  Excerpt must be atleast 10 charectors long</div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="card shadow-eff">
          <div class="card-body">
            <div class="form-group">
              <label for> Please Select a post category</label>
              <select formControlName="category"
                [ngClass]="{'is-invalid': fc['category'].touched && fc['category'].invalid}" class="form-control">
                <option value disabled> Please select a category</option>
                <option *ngFor="let category of categories" value="{{category.id}}-{{category.data.category}}">{{category.data.category}}</option>
              </select>
              <div *ngif='fc.category.errors?.required'>
                <div class="alert alert-danger" *ngif='fc.category.touched && fc.category.invalid'>
                  Plaease select a category</div>
              </div>

            </div>

            <div class="form-group">
              <label for> Post Image</label>
              <img [src]="imgSrc" class="form-control img-fluid img-preview">
              <input type="file" class="form-control" accept="image/*" (change)="showPreview($event)"
                formControlName="postImg" [ngClass]="{'is-invalid': fc['postImg'].touched && fc['postImg'].invalid}">

              <div *ngif='fc.postImg.errors?.required'>
                <div class="alert alert-danger" *ngif='fc.postImg.touched && fc.postImg.invalid'>
                  Post Image is required</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3 mb-5">
      <div class="col-md-12">
        <div class="card shadow-eff">
          <div class="card-body">
            <div class="form-group">
              <label for> Content </label>
              <angular-editor placeholder="Add your content here" formControlName="content"
                [ngClass]="{'is-invalid': fc['content'].touched && fc['content'].invalid}"></angular-editor>
              <!-- <textarea cols="30" rows="10" class="form-control"></textarea> -->

              <div *ngif='fc.content.errors?.required'>
                <div class="alert alert-danger" *ngif='fc.content.touched && fc.content.invalid'>
                  Content is required</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 text-center bm-5">
        <button class="btn btn-info btn-theme" > Save Post </button>
        <button class="btn btn-warning ml-3" routerLink="/posts"> Back
          to Post</button>
      </div>

    </div>
  </form>
</div>
